{% extends "core/base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="page-wrapper">

        
<!-- Main Slider Two Start -->
        <section class="main-slider-two">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="main-slider__carousel owl-theme owl-carousel">

                {% for slider in sliders %}
                    <div class="item">
                    <div class="main-slider-two__bg"
                        style="background-image: url({{ slider.image.url }});">
                    </div><!-- /.slider-one__bg -->

                    <div class="container">
                        <div class="main-slider-two__content">
                            <h2 class="main-slider-two__title">{{ slider.title }}
                            </h2>
                            <p class="main-slider-two__text">{{ slider.description }}</p>
                            <div class="main-slider-two__btn-box">
                                <a href="{% url "about" %}" class="thm-btn main-slider-two__btn">See More <span
                                        class="icon-up-right-arrow"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </section>
        <!--Slider Two  Start -->


        <!--About Two Start-->
        <section class="about-two">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="about-two__shape-1 float-bob-x">
                <img src="{% static 'images/shapes/about-two-shape-1.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="100ms">
                        <div class="about-two__left">
                            <div class="section-title text-left sec-title-animation animation-style2">
                                <h2 class="section-title__title title-animation">BUILDING TRUST. CRAFTING EXCELLENCE SINCE 1984</h2>
                            </div>
                            <p class="about-two__text">A leading construction company with 41 years of experience delivering quality projects across commercial, residential, and industrial sectors. We stand for durability, precision, and innovation.
                            </p>
                            <ul class="list-unstyled about-two__history">
                                <li>
                                    <div class="about-two__history-single">
                                        <h3 class="about-two__history-year">1984</h3>
                                        <p class="about-two__history-text">Founded with a vision to redefine construction standards through quality craftsmanship and integrity.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-two__history-single">
                                        <h3 class="about-two__history-year" id="current-year">2025</h3>
                                        <p class="about-two__history-text">Continuing our legacy of excellence with modern engineering, sustainable solutions, and trusted partnerships.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="about-two__btn-box">
                                <a href="{% url "about" %}" class="thm-btn about-two__btn">Read More <span
                                        class="icon-up-right-arrow"></span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="about-two__right">
                            <div class="about-two__img">
                                <img src="{% static 'images/resources/about-two-img-1.webp' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Two End -->

        <!--Counter One Start -->
        <section class="counter-one">
            <div class="counter-one__shape">
                <img class="float-bob-x" src="{% static 'images/shapes/counter-one-shape1.png' %}" alt="Shape">
            </div>
            <div class="counter-one__shape-1"
                style="background-image: url({% static 'images/shapes/counter-one-shape-1.png' %});"></div>
            <div class="container">
                <div class="counter-one__inner">
                    <div class="counter-one__title-box" style="display: none;">
                        <div class="section-title text-left sec-title-animation animation-style1">
                            <h2 class="section-title__title title-animation">Professional Experience</h2>
                            <div class="counter-one__title-border"></div>
                        </div>
                    </div>
                    <ul class="list-unstyled counter-one__list">
                        <li class="wow fadeInLeft" data-wow-delay="100ms">
                            <div class="counter-one__single">
                                <div class="counter-one__counter-box">
                                    <h3 class="odometer" data-count="13">00</h3>
                                    <span class="counter-one__counter-letter">k</span>
                                    <span class="counter-one__counter-plus">+</span>
                                </div>
                                <p class="counter-one__counter-text">Project Complete</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-delay="300ms">
                            <div class="counter-one__single">
                                <div class="counter-one__counter-box">
                                    <h3 class="odometer" data-count="179">00</h3>
                                    <span class="counter-one__counter-letter">k</span>
                                    <span class="counter-one__counter-plus">+</span>
                                </div>
                                <p class="counter-one__counter-text">Happy Clients</p>
                            </div>
                        </li>
                        
                        <li class="wow fadeInLeft" data-wow-delay="900ms">
                            <div class="counter-one__single">
                                <div class="counter-one__counter-box">
                                    <h3 class="odometer" data-count="55">00</h3>
                                    <span class="counter-one__counter-letter">k</span>
                                    <span class="counter-one__counter-plus">+</span>
                                </div>
                                <p class="counter-one__counter-text">Success Rating</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Counter One End -->

        <!--Project Two Start -->
        <section class="project-two">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="project-two__top">
                <div class="container">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <h2 class="section-title__title title-animation">Designing <br> Defining Spaces</h2>
                    </div>
                </div>
            </div>
            <div class="project-two__bottom">
                <div class="container">
                    <div class="project-two__carousel owl-theme owl-carousel">
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-1.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Industrial Chic
                                            Restaurant</a></h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-1.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-2.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Amman Rotane Hotel</a>
                                    </h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-2.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-3.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Harmony Interiors</a>
                                    </h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-3.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-1.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Industrial Chic
                                            Restaurant</a></h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-1.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-2.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Amman Rotane Hotel</a>
                                    </h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-2.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="{% static 'images/project/projects-2-3.jpg' %}" alt="">
                                </div>
                                <div class="project-two__content">
                                    <h3 class="project-two__title"><a href="project-details.html">Harmony Interiors</a>
                                    </h3>
                                    <div class="project-two__arrow">
                                        <a href="{% static 'images/project/projects-2-3.jpg' %}" class="img-popup"><span
                                                class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Project Two End -->

        <!--Services Two Start -->
        <section class="services-two">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="services-two__shape-1 img-bounce">
                <img src="{% static 'images/shapes/services-two-shape-1.png' %}" alt="">
            </div>
            <div class="services-two__wrapper">
                <div class="services-two__top">
                    <div class="section-title text-left sec-title-animation animation-style2 wow fadeInLeft"
                        data-wow-delay="100ms">
                        <h2 class="section-title__title title-animation">WE PROVIDE EXPERTS <br> TO BUILD YOUR FUTURE
                        </h2>
                    </div>
                    <div class="services-two__btn-box wow fadeInRight" data-wow-delay="100ms">
                        <a href="{% url "services" %}" class="thm-btn services-two__btn">More Details <span
                                class="icon-up-right-arrow"></span> </a>
                    </div>
                </div>
                <div class="services-two__bottom">
                    <ul class="list-unstyled services-two__list">
                        <li class="hover-item wow fadeInUp" data-wow-delay="100ms">
                            <div class="services-two__single">
                                <div class="services-two__single-left">
                                    <div class="services-two__count-box">
                                        <div class="services-two__count"></div>
                                        <div class="services-two__dot"></div>
                                    </div>
                                    <h3 class="services-two__title"><a href="{% url "services" %}">STRUCTURAL EXCELLENCE</a>
                                    </h3>
                                </div>
                                <div class="services-two__single-right">
                                    <p class="services-two__text">Our engineers deliver robust, durable, and innovative structures that meet global safety and quality standards.</p>
                                    <div class="services-two__arrow">
                                        <a href="{% url "services" %}"><span class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-item__box">
                                <img src="{% static 'images/services/services-2-1.jpg' %}" alt="Image"
                                    class="hover-item__box-img">
                            </div>
                        </li>
                        <li class="hover-item wow fadeInUp" data-wow-delay="300ms">
                            <div class="services-two__single">
                                <div class="services-two__single-left">
                                    <div class="services-two__count-box">
                                        <div class="services-two__count"></div>
                                        <div class="services-two__dot"></div>
                                    </div>
                                    <h3 class="services-two__title"><a href="{% url "services" %}">DEDICATED WORKFORCE</a>
                                    </h3>
                                </div>
                                <div class="services-two__single-right">
                                    <p class="services-two__text">A skilled and passionate team committed to precision, reliability, and timely project delivery.</p>
                                    <div class="services-two__arrow">
                                        <a href="{% url "services" %}"><span class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-item__box">
                                <img src="{% static 'images/services/services-2-2.jpg' %}" alt="Image"
                                    class="hover-item__box-img">
                            </div>
                        </li>
                        <li class="hover-item wow fadeInUp" data-wow-delay="600ms">
                            <div class="services-two__single">
                                <div class="services-two__single-left">
                                    <div class="services-two__count-box">
                                        <div class="services-two__count"></div>
                                        <div class="services-two__dot"></div>
                                    </div>
                                    <h3 class="services-two__title"><a href="{% url "services" %}">INNOVATIVE ENGINEERING</a></h3>
                                </div>
                                <div class="services-two__single-right">
                                    <p class="services-two__text">We integrate modern technologies and sustainable methods to build smarter, stronger infrastructure.</p>
                                    <div class="services-two__arrow">
                                        <a href="{% url "services" %}"><span class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-item__box">
                                <img src="{% static 'images/services/services-2-3.jpg' %}" alt="Image"
                                    class="hover-item__box-img">
                            </div>
                        </li>
                        <li class="hover-item wow fadeInUp" data-wow-delay="900ms">
                            <div class="services-two__single">
                                <div class="services-two__single-left">
                                    <div class="services-two__count-box">
                                        <div class="services-two__count"></div>
                                        <div class="services-two__dot"></div>
                                    </div>
                                    <h3 class="services-two__title"><a href="{% url "services" %}">URBAN DEVELOPMENT</a></h3>
                                </div>
                                <div class="services-two__single-right">
                                    <p class="services-two__text">From residential complexes to commercial landmarks — we shape skylines with excellence and expertise.</p>
                                    <div class="services-two__arrow">
                                        <a href="{% url "services" %}"><span class="icon-up-right-arrow-1"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-item__box">
                                <img src="{% static 'images/services/services-2-4.jpg' %}" alt="Image"
                                    class="hover-item__box-img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Services Two End -->



        <!--Testimonial Two Start-->
        <section class="testimonial-two">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="container">
                <div class="section-title text-center sec-title-animation animation-style1">
                    <h2 class="section-title__title title-animation">
                        What Our Clients Say
                    </h2>
                </div>
                <div class="testimonial-two__bottom">
                    <div class="testimonial-two__carousel owl-carousel owl-theme thm-owl__carousel">
                        <!--Testimonial Two Single Start-->
                        {% for testimonial in testimonials %}
<div class="item">
    <div class="testimonial-two__single">
        <div class="testimonial-two__single-shape-1"
            style="background-image: url({% static 'images/shapes/testimonial-two-single-shape-1.png' %});">
        </div>
        <div class="testimonial-two__img">
            <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}">
        </div>
        <div class="testimonial-two__shape-1">
            <img src="{% static 'images/shapes/testimonial-two-shape-1.png' %}" alt="">
        </div>

        <!-- ⭐ Dynamic Rating Stars -->
        <ul class="testimonial-two__ratting list-unstyled">
            {% for i in "12345" %}
                {% if forloop.counter <= testimonial.rating %}
                    <li><span class="icon-pointed-star"></span></li>
                {% else %}
                    <li><span class="icon-pointed-star" style="opacity: 0.3;"></span></li>
                {% endif %}
            {% endfor %}
        </ul>

        <h3 class="testimonial-two__name">
            <a href="#">{{ testimonial.name }}</a>
        </h3>
        <p class="testimonial-two__sub-title">{{ testimonial.designation }}</p>
        <p class="testimonial-two__text">{{ testimonial.content }}</p>
    </div>
</div>
{% endfor %}

                        <!--Testimonial Two Single End-->
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial Two End-->

        <!--Contact One Start -->
        <section class="contact-one">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="contact-one__shape-2 float-bob-y">
                <img src="{% static 'images/shapes/contact-one-shape-2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="contact-one__left wow slideInLeft" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
                            <div class="contact-one__inner">
                                <div class="contact-one__shape-1 float-bob-x">
                                    <img src="{% static 'images/shapes/contact-one-shape-1.png' %}" alt="">
                                </div>
                                <form class="contact-form-validated contact-one__form" action="https://weblayout.mnsithub.com/html/tecture/main-html/inc/sendemail.php"
                                    method="post" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="contact-one__input-box">
                                                <input type="text" name="name" placeholder="Your Nome" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-one__input-box">
                                                <input type="email" name="email" placeholder="Email Address"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-one__input-box">
                                                <input type="text" name="Phone" placeholder="Your Phone" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-one__input-box">
                                                <input type="text" name="Subject" placeholder="Subject" required="">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-one__input-box text-message-box">
                                                <textarea name="message"
                                                    placeholder="How can we help you? Feel free to get in touch!"></textarea>
                                            </div>
                                            <div class="contact-one__btn-box">
                                                <button type="submit" class="thm-btn contact-one__btn">Learn More<span
                                                        class="icon-up-right-arrow"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="contact-one__right">
                            <div class="contact-one__right-content sec-title-animation animation-style2">
                                <h3 class="contact-one__title title-animation">Do You need Any Help? <br>
                                    Send Message.</h3>
                                <div class="contact-one__contact-info">
                                    <div class="contact-one__contact-icon">
                                        <span class="icon-customer-service"></span>
                                    </div>
                                    <div class="contact-one__contact-icon-2">
                                        <span class="icon-customer-service"></span>
                                    </div>
                                    <div class="contact-one__contact-number-box">
                                        <p>Call us for ony inquiry</p>
                                        <h5><a href="tel:4844987989">( 484 ) 4987 989</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact One End -->


    </div><!-- /.page-wrapper -->

    <script>
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>


{% endblock content %}