{% extends "core/base.html" %}

{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}

<div class="page-wrapper">
        

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});">
            </div>
            <div class="container">
                
                <div class="page-header__inner">
                    <div class="page-header__title-box">
                        <h3>Projects</h3>
                    </div>
                    <div class="thm-breadcrumb__box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li><span>/</span></li>
                            <li>Projects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Projects Page Start-->
        <section class="projects-page">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="container">
                <div class="section-title text-center sec-title-animation animation-style1">
                    <h2 class="section-title__title title-animation">
                        SHOWCASING STRUCTURES <br> BUILT TO INSPIRE
                    </h2>
                </div>
                <div class="row">
                    {% for project in projects %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{{ project.thumbnail.url }}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="{% url "project_detail" project.slug %}">{{ project.title }}</a></h3>
                                <div class="project-two__arrow">
                                    <a href="{{ project.thumbnail.url}}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!--Projects Page End-->


    </div><!-- /.page-wrapper -->

    


{% endblock content %}