{% extends "core/base.html" %}

{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}

<div class="page-wrapper">
        

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <div class="page-header__title-box">
                        <p>Business Models you can Consider</p>
                        <h3>Projects</h3>
                    </div>
                    <div class="thm-breadcrumb__box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>/</span></li>
                            <li>Projects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Projects Page Start-->
        <section class="projects-page">
            <div class="section-shape-1" style="background-image: url({% static 'images/shapes/section-shape-1.png' %});"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-1.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Industrial Chic
                                        Restaurant</a></h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-1.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-2.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Amman Rotane Hotel</a>
                                </h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-2.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-3.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Harmony Interiors</a>
                                </h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-3.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-4.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Harmony Interiors</a></h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-4.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-5.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Amman Rotane Hotel</a>
                                </h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-5.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="project-two__single">
                            <div class="project-two__img">
                                <img src="{% static 'images/project/projects-2-6.jpg' %}" alt="">
                            </div>
                            <div class="project-two__content">
                                <h3 class="project-two__title"><a href="project-details.html">Industrial Chic
                                        Restaurant</a>
                                </h3>
                                <div class="project-two__arrow">
                                    <a href="{% static 'images/project/projects-2-6.jpg' %}" class="img-popup"><span
                                            class="icon-up-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Projects Page End-->


    </div><!-- /.page-wrapper -->

    


{% endblock content %}